node_modules
dist
build
.env
.env.local
*.log
.DS_Store
server/uploads/**
!server/uploads/.gitkeep
!server/uploads/products/
!server/uploads/products/**
prisma/*.db
prisma/*.db-journal
.vscode
.idea
coverage
.turbo
client/dist
server/dist
*.tsbuildinfo
